@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/stylists-create.css">


@model HairSalon.Models.Stylist

@* <h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p> *@

<div class="main" id="home">
  <div class="main__container">
    <h1 class="main__heading">Stylist Sign Up</h1>
    <p class="main__description">
      @using (Html.BeginForm())
      {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        <br>
        <button class="main__btn" input type="submit">Join</button>
      }
    </p>
  </div>
</div>