@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/details.css">
@model HairSalon.Models.Stylist
@using HairSalon.Models
<div class="details__container">
  <div class="details__title">
    <h1>Stylist Details</h1>
  </div>
  <div class="details__display">
    <p>@Html.DisplayFor(model => model.Name)</p>
  </div>
  <div class="details__subtitle">
    <p>Clients</>
  </div>
  <div class="details__display">
      @foreach (Client client in Model.Clients)
      {
        <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId }) | @client.Stylist.Name</li>
      }
  </div>
  <div class="details__links">
    <p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
    <p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
    <p>@Html.ActionLink("Back to list", "Index")</p>
  </div>
</div>
